тело body 
    семейство шрифтов: Ариал, без засечек;
 фон: #121212;
 цвет: белый;
 выравнивание текста: центр;
}

ч1 {
    край-верх: 20пх;
}

. . .форма, .сортировка, .фильтр {
    маржа-дно: 15пх;
}

ввод, выбор, кнопка {
    прокладка: 10пх;
    маржа: 5пх;
 размер шрифта: 16пх;
}

кнопка {
    курсор: указатель;
}

уль {
    список-стиль: никто;
    прокладка: 0;
}

ли {
    фон: #1f1f1f;
    маржа: 10пх авто;
    прокладка: 10пх;
    ширина: 350пх;
 радиус границы: 5пх;
}

. . . .удалить-btn {
    фон: green;
    граница: никто;
    цвет: белый;
    прокладка: 5пх 10пх;
    край-верх: 8пх;
    курсор: указатель;
}

